@model Salon1.Models.Login

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalonData.SalonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalonData.SalonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
